
  <div class="modal fade" id="datosModal" tabindex="-1" aria-labelledby="datosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosModalLabel">Datos de Envío</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body form-container">
          <form id="modal-form">
            <div class="mb-3">
              <label for="hash" class="form-label">Hash</label>
              <input type="text" class="form-control" id="hash" disabled="true"/>
            </div>
            <div class="mb-3">
              <label for="estado" class="form-label">Estado</label>
              <input type="text" class="form-control" id="estado" disabled="true"/>
            </div>
            <div class="mb-3">
              <label for="ciudad" class="form-label">Ciudad Actual</label>
              <input type="text" class="form-control" id="ciudad" disabled="true"/>
            </div>
          </form>
        </div>
 
      </div>
    </div>
  </div>

 
